<div class="tips">
  <h1>Safety first!</h1>
  <p>
    Your emojis are: {@emojis}
  </p>
  <ol>
    <%= for tip <- @tips do %>
      <li>
        <a href={~p"/tips/#{tip.id}"}>
          <h2>This is Tip #{tip.id}</h2>
        </a>
        <p>{tip.text}</p>
      </li>
    <% end %>
  </ol>
</div>
